<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsBreeze">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="News Breeze"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsBreeze">
        <activity
            android:name="com.example.newsBreeze.Saved_Search"
            android:label=""
            android:parentActivityName="com.example.newsBreeze.MainActivity"
            android:theme="@style/Theme.NewsBreeze.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.newsBreeze.MainActivity" />
        </activity>
        <activity
            android:name="com.example.newsBreeze.DetailsActivity"
            android:label=""
            android:parentActivityName="com.example.newsBreeze.MainActivity"
            android:theme="@style/Theme.NewsBreeze.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.newsBreeze.MainActivity" />
        </activity>
        <activity
            android:name="com.example.newsBreeze.MainActivity"
            android:label=""
            android:theme="@style/Theme.NewsBreeze.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>